.container {
  margin:0px;
  padding:0px 50px 0px 50px;
}

.sidebar {
  float:left;
  width:13%;

}
.content {
  float:right;
  width:80%;
}

.content, .sidebar {
  padding:0px;
}

figure {
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding:5px;
  min-height: 225px;
  text-align: center;
  border:1px solid black;

}

figure img {
  width:100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: auto;
}

blockquote li {
  font-size: 12px;
}

ul {
  list-style: none;
  margin:0px;
  padding-left:15px;
}

li {
  margin-bottom:6px;
}

.panel {
  width:70%;
  margin:20px;
}

.panel>* {
  margin:15px;
}

.panel-info {
  background-color:#d9edf7;
}

.panel-info .panel-heading {
  background-color:#cedff2;
  color:black;
}

.panel-info blockquote {
  background-color:#cedff2;
}

.panel-success {
  background-color:#dff0d8;
}

.panel-success .panel-heading {
  background-color:#cef2e0;
  color:black;
}

.panel-success blockquote {
  background-color:#cef2e0;
}
